@{
    var httpContext = ViewContext.HttpContext;
    var userRole = httpContext.Session.GetString("UserRole");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Friberg_Car_Rentals__Razor_Pages_3_</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Friberg_Car_Rentals__Razor_Pages_3_.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            <div>
                <div class ="navbar">
                    @if (userRole == "Admin")
                    {
                        <a asp-area="Home" asp-page="/Index">Home</a>
                        <a asp-area="Cars" asp-page="/Cars/Index">Cars</a>
                        <a asp-area="Customer" asp-page="/Customers/Index">Customers</a>
                        <a asp-area="Order" asp-page="/Orders/Index">Orders</a>
                        <a asp-area="Admin" asp-page="/Admins/Index">Admins</a>
                        <a asp-area="Logout" asp-page="/Account/Logout">Logout</a>
                    }
                    else if (userRole == "User")
                    {
                        <a asp-area="Home" asp-page="/Index">Home</a>
                        <a asp-area="Cars" asp-page="/Cars/Index">Cars</a>
                        <a asp-area="Order" asp-page="/Orders/Index">Orders</a>
                        <a asp-area="Logout" asp-page="/Account/Logout">Logout</a>
                    }
                    else
                    {
                        <a asp-area="Home" asp-page="/Index">Home</a>
                        <a asp-area="Cars" asp-page="/Cars/Index">Cars</a>
                        <a asp-area="Login" asp-page="/Account/Login">Login</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="CenterText">
            &copy; 2024 - Friberg_Car_Rentals__Razor_Pages_3_ - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>