@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <div class="main">
        <div class="CenterText">
            <h1>Welcome to Friberg Car Rentals</h1>
            <img class="Logo-Image" src="@Url.Content("~/Images/friberg_logo.png")" alt="Your Image">
        </div>
    </div>
</body>
