@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var userRole = TempData["UserRole"] as string;
}

<body>
    <div class="main">
        <div class="CenterText">
            <h1>Welcome to Friberg Car Rentals</h1>
            <img class="Logo-Image" src="@Url.Content("~/Images/friberg_logo.png")" alt="Your Image">
        </div>
    </div>
</body>

@if (HttpContext.Session.GetString("UserRole") == "Admin")
{
    <h1>Welcome, Admin!</h1>
}
else if (HttpContext.Session.GetString("UserRole") == "User")
{
    <h1>Welcome, User!</h1>
}
else
{
}


