@page
@model Friberg_Car_Rentals__Razor_Pages_3_.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="main">New Order</h1>

<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.Car.Id">Select Car:</label>
                <select class="form-control" asp-for="Order.Car.Id" asp-items="Model.CarOptions"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order.Customer.Id">Select Customer:</label>               
                <select class="form-control" asp-for="Order.Customer.Id" asp-items="Model.CustomerOptions"></select>
            </div>

            <div class="form-group">
                <label for="rentalStartDate">Rental Start Date:</label>
                <input type="datetime-local" id="rentalStartDate" name="rentalStartDate" class="form-control" />
            </div>

            <div class="form-group">
                <label for="rentalEndDate">Rental End Date:</label>
                <input type="datetime-local" id="rentalEndDate" name="rentalEndDate" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="CenterText">
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
